$color-primary: #24aded;
$color-primary-hover: #108ec9;
$color-input-bg: #f3f6ff;
$color-input-bg-hover: #dae3ff;
$color-icon: #8593a5;
$color-font-primary: #15203d;
$color-font-secondary: #93989d;
$font-family: 'Inter', sans-serif;
$font-size: 16px;